@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

:root{
  --primary-color: #2e2e2e;
  --secondary-color: #fff;
  --third-color: #d4af37;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body{
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

input[type=number] {
  -webkit-appearance: textfield; /* Safari and Chrome */
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Standard syntax */
}

/* Remove the up and down arrows on the input number field */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.app{
  background-color:var(--primary-color) ;
}


/* SIDEBAR */

.sidebar{
  color: #fff;
  background-color: #141414;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -150px;
  height: 100%;
  padding: 10px;
  z-index: 200;
  transition: all 0.3s ease;
  width: 150px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.sidebar.show{
  transform: translateX(150px);
}

.sidebarItems{
  margin-top: 75px;
  text-align: center;
}

.sidebarItems p{
  font-size: 1.25rem;
  text-align: center;
}

.closeSidebarBtn{
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 2rem;
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  border-radius: 5px;
  border: 1px solid var(--third-color);
  transition: all 0.25s ease;
}

.closeSidebarBtn:hover{
  background-color: var(--third-color);
  color: #fff;
}

.sidebarLink{
  margin: 20px 0;
  cursor: pointer;
  padding-bottom: 10px;
}

.viewCryptosDiv{
  padding-bottom: 10px;
}

.viewCryptosDiv.active{
  border-bottom: 2px solid var(--third-color);
}

.viewCryptos.active{
  color: var(--third-color);
  border-bottom: 2px solid var(--third-color);
  text-decoration: none;
}

.viewCryptos.notActive{
  color: #fff;
  text-decoration: none;
}

.viewWalletDiv{
  padding-bottom: 10px;
}

.viewWalletDiv.active{
  border-bottom: 2px solid var(--third-color);
}

.viewWallet.active{
  color: var(--third-color);
  border-bottom: 2px solid var(--third-color);
  text-decoration: none;
}

.viewWallet.notActive{
  color: #fff;
  text-decoration: none;
}

.viewExchangeDiv{
  padding-bottom: 10px;
}

.viewExchangeDiv.active{
  border-bottom: 2px solid var(--third-color);
}

.viewExchange.active{
  color: var(--third-color);
  border-bottom: 2px solid var(--third-color);
  text-decoration: none;
}

.viewExchange.notActive{
  color: #fff;
  text-decoration: none;
}

.viewTransactionsDiv{
  padding-bottom: 10px;
}

.viewTransactionsDiv.active{
  border-bottom: 2px solid var(--third-color);
}

.viewTransactions.active{
  color: var(--third-color);
  border-bottom: 2px solid var(--third-color);
  text-decoration: none;
}

.viewTransactions.notActive{
  color: #fff;
  text-decoration: none;
}

.viewFavoritesDiv{
  padding-bottom: 10px;
  width: 100%;
}

.viewFavoritesDiv.active{
  border-bottom: 2px solid var(--third-color);
}

.viewFavorites.active{
  color: var(--third-color);
  text-decoration: none;
}

.viewFavorites.notActive{
  color: #fff;
  text-decoration: none;
}


/* HEADER */
.logoLink{
  text-decoration: none;
}

.logo{ 
  color: var(--third-color);
  padding: 15px;
}

.header{
  z-index: 5;
}

.headerItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.openSidebarBtn{
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
  display: flex;
  border: 1px solid var(--third-color);
  transition: all 0.25s ease;
}

.openSidebarBtn:hover{
  background-color: var(--third-color);
}



/* SEARCH BAR */

.searchBar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.searchBar input{
  background-color: transparent;
  border: var(--secondary-color) 1px solid;
  padding: 10px;
  width: 500px;
  border-radius: 5px;
  color: #fff;
}

.searchBar input::placeholder{
  color: var(--secondary-color);
}

.searchBar input:focus{
  outline-color: var(--third-color);
}

/* TOP GAINERS */
.topGainers{
  background-color: var(--third-color);
  color: #fff;
  width: 33%;
  padding: 15px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 5px;
}

.topGainersHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topGainersHeader .topGainersMore{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.topGainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.topGainers h2{
  margin-bottom: 10px;
}

.topGainerTitle{
  display: flex;
  align-items: center;
}


.topGainerTitle h3{
  font-weight: 600;
  margin: 0 5px;
}

.topGainerTitle h5{
  color: lightgray;
}

.topGainerPercent p{
  color: #00FF00;
}

.topGainersViewMore{
  text-align: right;
}

/* MORE TOP GAINERS */

.moreTopGainers{
  background-color: var(--primary-color);
  z-index: 10;
  color: #fff;
  padding-bottom: 30px;
}

.moreTopGainersHeader{
  text-align: center;
  color: #fff;
  margin: 20px 0;
}

.moreTopGainersTable{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.moreTopGainersTable thead tr th{
  padding-bottom: 20px;
}

.moreTopTenGainersBody tr{
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

.moreTopTenGainersBody tr td{
  padding: 25px 10px;
}

.moreTopGainersCoinTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreTopGainersCoinTitle h5{
  color: lightgray;
}


.moreTopGainersPercent p{
  color: #00FF00;
}

.moreTopGainersBack{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* TOP LOSERS */

.topLosers{
  background-color: var(--third-color);
  color: #fff;
  width: 33%;
  padding: 15px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 5px;
  margin-left: 20px;
}

.topLosersHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topLosersHeader .topLosersMore{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.topLoser{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.topLosers h2{
  margin-bottom: 10px;
}

.topLoserTitle{
  display: flex;
  align-items: center;
}


.topLoserTitle h3{
  font-weight: 600;
  margin: 0 5px;
}

.topLoserTitle h5{
  color: lightgray;
}

.topLoserPercent p{
  color:red;
}

.topLosersViewMore{
  text-align: right;
}

/* MORE TOP LOSERS */

.moreTopLosers{
  background-color: var(--primary-color);
  z-index: 10;
  color: #fff;
  padding-bottom: 30px;
}

.moreTopLosersHeader{
  text-align: center;
  color: #fff;
  margin: 20px 0;
}

.moreTopLosersTable{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.moreTopLosersTable thead tr th{
  padding-bottom: 20px;
}

.moreTopTenLosersBody tr{
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

.moreTopTenLosersBody tr td{
  padding: 25px 10px;
}

.moreTopLosersCoinTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreTopLosersCoinTitle h5{
  color: lightgray;
}


.moreTopLosersPercent p{
  color: red;
}

.moreTopLosersBack{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}


/* COINS */

.coinHeader{
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.topMovers{
  display: flex;
  justify-content: center;
}

.coinRank{
  margin-top: -20px;
}


.coinTable thead tr th{
  padding-bottom: 20px;
}

.coinTable{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
}

.coinBody tr{
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

.coinBody tr td{
  padding: 25px 10px;
}


.coinTitle{
  font-size: 1.5rem;
}

.coinSymbol{
  color: lightgray;
  font-size: 0.9rem;
}


.loading{
  margin: 20px auto;
}


.positive{
  color: #00FF00;
}

.negative{
  color: red;
}

.noCoins{
  color: var(--third-color);
  text-align: center;
}

.viewChartBtn{
 background-color: transparent;
 border: none;
 color: #fff;
 cursor: pointer;
}

.menu-container {
  position: relative;
  z-index: 100;
}

.favBtn{
  margin-bottom: -25px;
}

.menu {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.dot {
  width: 4px;
  height: 4px;
  margin: 2px;
  border-radius: 50%;
  background-color: #fff;
}

.menu-items {
  position: absolute;
  top: -10px;
  right: 0;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-bookmark,
.remove-bookmark {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  color: var(--third-color);
}

.add-bookmark:hover,
.remove-bookmark:hover {
  background-color: #eee;
}

.favAdded{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #fff;
  color: var(--third-color);
  padding: 5px 10px;
  z-index: 100;
}

.alreadyAdded{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #fff;
  color: var(--third-color);
  padding: 5px 10px;
  z-index: 100;
}

.favRemoved{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #fff;
  color: var(--third-color);
  padding: 5px 10px;
  z-index: 100;
}

.addToFavMobileBtn{
  display: none;
}


/* PAGINATION */

.pagination{
  text-align: center;
  margin-top: 20px;
}

.pagPrev{
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 2px;
  font-size: 1.25rem;
  margin-right: 10px;
  color: var(--third-color);
  transform: translateY(5px);
}

.pagNext{
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 2px;
  font-size: 1.25rem;
  margin-right: 10px;
  color: var(--third-color);
  transform: translateY(5px);
}

#pagNumbers{
  margin: 0 5px;
  padding: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.pageActive{
  background-color: var(--third-color) !important;
}


/* CURRENTCOININFO */

.currentCoinInfoItems{
  border: 1px solid var(--third-color);
  padding: 10px;
  border-radius: 5px;
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentCoinInfoItems table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
}

.currentCoinInfoItems table .symbol{
  color: lightgray;
  font-size: 0.7rem;
  margin: 0 2px;
}

.currentCoinInfoItems table thead tr th{
  padding: 5px 0;
  font-weight: 600;
  font-size: 1.2rem;
}

.currentCoinInfoItems table tbody tr td{
  padding: 10px 0;
}

/* SWITCH CHART DATA */

.switchChartDataItems{
  display: flex;
  justify-content: end;
}

.switchChartDataItems button{
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  margin: 0 3px;
  font-size: 1.02rem;
  padding: 5px;
  cursor: pointer;
  color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.switchChartDataItems button.active{
  background-color: var(--third-color);
  color: var(--secondary-color);
}

.switchChartDataItems button.notActive{
  background-color: var(--primary-color);
}

.twentyFourHourChart{
  height: 90vh;
}

.twentyFourHourChartItems{
  height: 90vh;
}

.twentyFourHourChart.showChart{
  display: block;
}

.twentyFourHourChart.hideChart{
  display: none;
}

.sevenDayChart{
  height: 90vh;
}

.sevenDayChartItems{
  height: 90vh;
}

.sevenDayChart.showChart{
  display: block;
}

.sevenDayChart.hideChart{
  display: none;
}

.thirtyDayChart{
  height: 90vh;
}

.thirtyDayChartItems{
  height: 90vh;
}

.thirtyDayChart.showChart{
  display: block;
}

.thirtyDayChart.hideChart{
  display: none;
}

.threeMonthChart{
  height: 90vh;
}

.threeMonthChartItems{
  height: 90vh;
}

.threeMonthChart.showChart{
  display: block;
}

.threeMonthChart.hideChart{
  display: none;
}

.oneYearChart{
  height: 90vh;
}

.oneYearChartItems{
  height: 90vh;
}

.oneYearChart.showChart{
  display: block;
}

.oneYearChart.hideChart{
  display: none;
}


/* CHARTS INFO */

.sevenDayCapitalHistoryId{
  text-align: center;
  color: #fff;
  margin: 50px auto;
  font-size: 3rem;
}

/* MY ASSETS */

.assetsHeader{
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

 
.myAssets .myBalance{
  color: var(--secondary-color);
  margin-bottom: 30px;
  font-size: 2.2rem;
}

.myAssetsCoins{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--third-color);
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

.myAssetsCoinsTitle{
  display: flex;
  align-items: center;
}

.myAssetsCoins h2{
  font-size: 1.8rem;
  margin-right: 3px;
  color: var(--secondary-color);
}

.myAssetsCoins h4{
  color: lightgray;
}

.myAssetsCoins p{
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.addFundsBtn{
  border: none;
  margin-bottom: 25px;
  background-color: transparent;
  border: 1px solid var(--third-color);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.25s ease;
}

.addFundsBtn:hover{
  background-color: var(--third-color);
}

.addFundsBtnDiv{
  text-align: right;
}

.myName{
  color:#fff;
  margin:10px 0;
  text-transform: uppercase;
}

/* ADD FUNDS */

.addFundsItems{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fundInput{
  margin: 10px 0;
  font-size: 1.25rem;
}

.fundInput input{
  width: 600px;
  padding: 10px;
  margin-left: 10px;
}

.confirmAddFundsBtn button{
  background-color: transparent;
  border: 1px solid var(--third-color);
  color: var(--third-color);
  padding: 10px;
  width: 600px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.25 ease;
}

.confirmAddFundsBtn button:hover{
  background-color: var(--third-color);
  color: #fff;
}

.addFundsClose{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--third-color);
  cursor: pointer;
  display: flex;
  border: 1px solid var(--third-color);
  transition: background-color 0.25s ease;
  border-radius: 5px;
}

.addFundsClose:hover{
  background-color: var(--third-color);
  color: #fff;
}

.addFundsErr{
  color: red;
  margin-bottom: 5px;
}

.negNumErr{
  color: red;
  margin-bottom: 5px;
}



/* FUNDS ADDED */

.fundsAdded{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fundsAddedItems button{
  background-color: transparent;
  border: 1px solid var(--third-color);
  border-radius: 5px;
  padding: 7px 25px;
  color: var(--third-color);
  cursor: pointer;
  transition: all 0.25s ease;
}

.fundsAddedItems button:hover{
  background-color: var(--third-color);
  color: #fff;
}


/* EXCHANGES */

.exchanges{
  padding-bottom: 40px;
}

.exchangesHeader{
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.exchangeInfoBtns{
  text-align: right;
  margin: 20px 0;
}

.exchangeInfoBtns button{
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid var(--third-color);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.25s ease;
}

.exchangeInfoBtns button:hover{
  background-color: var(--third-color);
}

.exchangeBody{
  text-align: center;
}

.exchangeTable{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
  margin-top: 20px;
}

.exchangeTable thead tr th{
  padding-bottom: 20px;
}

.exchangeBody tr{
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

.exchangeBody tr td{
  padding: 25px 10px;
}

.exchangeTableName{
  font-size: 1.5rem;
}

.visitExchange{
  text-decoration: none;
  color: #fff;
}

.noExchanges{
  text-align: center;
  color: var(--third-color);
  margin-top: 20px;
}

/* Exchange Marktet share */

.exchangeMarketShare h1{
  color: var(--third-color);
  text-align: center;
}

.exchangeMarketShareItems{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* TRANSACTIONS */

.transactionsHeader{
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.transactionsDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border: 1px solid var(--third-color);
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

.transactionsEmpty{
  color: var(--third-color);
  text-align: center;
  padding: 0 40px;
}


/* FAVORITES */

.favoritesHeader{
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.favorites{
  padding: 50px 0;
}

.favoritesItems{
  padding-bottom: 40px !important;
}

.removeFavMobileBtn{
  display: none;
}


.favoritesRank{
  margin-top: -20px;
}


.favoritesTable thead tr th{
  padding-bottom: 20px;
}

.favoritesTable{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
}

.favoritesBody tr{
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

.favoritesBody tr td{
  padding: 25px 10px;
}


.favoritesTitle{
  font-size: 1.5rem;
}

.favoritesSymbol{
  color: lightgray;
  font-size: 0.9rem;
}


/* UTILITIES */
.container{
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
  overflow: hidden;
}



@media(min-width: 1450px){
  .sidebar{
    left: 0;
  }

  .favAdded{
    left: 200px;
  }
  
  .alreadyAdded{
    left: 200px;
  }
  
  .favRemoved{
    left: 200px;
  }
}

@media(max-width: 1068px){
  .searchBar input{
    width: 300px;
  }

  .coins{
    width: 275px;
  }

  .coinsItems h2{
    font-size: 1.5rem;
  }

  .coinRank{
    margin-top: 0;
  }

  .coinsItems .coinPriceDiv{
    width: 100%;
  }

  .menu {
   display: none;
  }
  
  .menu-items {
    display: none;
  }

  .favBtn{
    margin-bottom: 0;
  }

  .currentCoinInfoItems{
    border: none;
  }

  .sevenDayChart{
    height: 60vh;
  }

  .twentyFourHourChart{
    height: 60vh;
  }

  .thirtyDayChart{
    height: 60vh;
  }

  .threeMonthChart{
    height: 60vh;
  }

  .oneYearChart{
    height: 60vh;
  }

  /* TABLE */

  	/* Force table to not be like tables anymore */
	.currentCoinInfoItems table, thead, tbody, th, td, tr { 
		display: block; 
	}

	
	/* Hide table headers (but not display: none;, for accessibility) */
	.currentCoinInfoItems thead tr { 
		display: none;
	}
	
	.currentCoinInfoItems tr { 
    border: 1px solid var(--third-color);
   }
	
	.currentCoinInfoItems td { 
		border: none;
		position: relative;
    text-align: right;
    border-bottom: 1px solid var(--third-color);
	}

  .currentCoinInfoItems td p{
    padding-right: 10px;
  }
	
	.currentCoinInfoItems td:before { 
		position: absolute;
		top: 6px;
		left: 10px;
	}

  .currentCoinInfoItems td:nth-of-type(1):before { content: "Rank"; }
	.currentCoinInfoItems td:nth-of-type(2):before { content: "Name"; }
	.currentCoinInfoItems td:nth-of-type(3):before { content: "Price"; }
	.currentCoinInfoItems td:nth-of-type(4):before { content: "24H %"; color: #fff; }
	.currentCoinInfoItems td:nth-of-type(5):before { content: "MCap"; }
	.currentCoinInfoItems td:nth-of-type(6):before { content: "Supply"; }

  .coinTable tr{
    margin: 20px 0;
  }

  .coinTable table, thead, tbody, th, td, tr{
    display: block;
  }

  .coinTable thead tr { 
		display: none;
	}

  .coinTable tr{
    border: 1px solid var(--third-color);
  }

  .coinTable td{
    border: none;
		position: relative;
    text-align: right;
    border-bottom: 1px solid var(--third-color);
  }

  .coinTable tr td{
    padding: 10px;
  }

  .coinTable td:before{
    position: absolute;
		top: 6px;
		left: 10px;
  }

  .coinTable td:nth-of-type(1):before { content: "Rank"; }
  .coinTable td:nth-of-type(2):before { content: "Name"; }
	.coinTable td:nth-of-type(3):before { content: "Price"; }
	.coinTable td:nth-of-type(4):before { content: "24H %"; color: #fff; }
	.coinTable td:nth-of-type(5):before { content: "MCap"; }
	.coinTable td:nth-of-type(6):before { content: "Volume"; }
	.coinTable td:nth-of-type(7):before { content: "Stats"; }
	.coinTable td:nth-of-type(8):before { content: "Favorite"; }


  /* Exchanges Table */

  .exchangeTable tr{
    margin: 20px 0;
  }

  .exchangeTable table, thead, tbody, th, td, tr{
    display: block;
  }

  .exchangeTable thead tr { 
		display: none;
	}

  .exchangeTable tr{
    border: 1px solid var(--third-color);
  }

  .exchangeTable td{
    border: none;
		position: relative;
    text-align: right;
    border-bottom: 1px solid var(--third-color);
  }

  .exchangeTable tr td{
    padding: 10px;
  }

  .exchangeTable td:before{
    position: absolute;
		top: 6px;
		left: 10px;
  }

  .exchangeTable td:nth-of-type(1):before { content: "Rank"; }
  .exchangeTable td:nth-of-type(2):before { content: "Name"; }
	.exchangeTable td:nth-of-type(3):before { content: "Volume"; }
	.exchangeTable td:nth-of-type(4):before { content: "# Of Exchange Pairs"; color: #fff; }
	.exchangeTable td:nth-of-type(5):before { content: "Visit Exchange"; }

  /* TOP TEN GAINERS */

  .moreTopGainersCoinTitle{
    justify-content: end;
  }

  .moreTopGainersTable tr{
    margin: 20px 0;
  }

  .moreTopGainersTable table, thead, tbody, th, td, tr{
    display: block;
  }

  .moreTopGainersTable thead tr { 
		display: none;
	}

  .moreTopGainersTable td{
    border: none;
		position: relative;
    text-align: right;
    border-bottom: 1px solid var(--third-color);
  }

  .moreTopGainersTable tr td{
    padding: 10px;
  }

  .moreTopGainersTable td:before{
    position: absolute;
		top: 10px;
		left: 10px;
  }

  .moreTopGainersTable td:nth-of-type(1):before { content: "Rank"; }
  .moreTopGainersTable td:nth-of-type(2):before { content: "Name"; }
  .moreTopGainersTable td:nth-of-type(3):before { content: "Price"; }
  .moreTopGainersTable td:nth-of-type(4):before { content: "24h %"; }
  .moreTopGainersTable td:nth-of-type(5):before { content: "Volume(24h)"; }

  /* Favorites Mobile Table */

  .favoritesTable tr{
    margin: 20px 0;
  }

  .favoritesTable table, thead, tbody, th, td, tr{
    display: block;
  }

  .favoritesTable thead tr { 
		display: none;
	}

  .favoritesTable tr{
    border: 1px solid var(--third-color);
  }

  .favoritesTable td{
    border: none;
		position: relative;
    text-align: right;
    border-bottom: 1px solid var(--third-color);
  }

  .favoritesTable tr td{
    padding: 10px;
  }

  .favoritesTable td:before{
    position: absolute;
		top: 6px;
		left: 10px;
  }

  .favoritesTable td:nth-of-type(1):before { content: "Rank"; }
  .favoritesTable td:nth-of-type(2):before { content: "Name"; }
	.favoritesTable td:nth-of-type(3):before { content: "Price"; }
	.favoritesTable td:nth-of-type(4):before { content: "24H %"; color: #fff; }
	.favoritesTable td:nth-of-type(5):before { content: "MCap"; }
	.favoritesTable td:nth-of-type(6):before { content: "Volume"; }
	.favoritesTable td:nth-of-type(7):before { content: "Favorite"; }
	

  /*  ADD FUNDS PAGES */
  
  .fundInput input{
    width: 300px;
    padding: 10px;
    margin-left: 10px;
  }
  
  .confirmAddFundsBtn button{
    width: 300px;
  }

  /* Add to fav mobile btn */

  .addToFavMobileBtn{
    display: block;
  }

  .addToFavMobileBtn button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .removeFavMobileBtn{
    display: block;
  }

  .removeFavMobileBtn button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  
}

@media(max-width: 968px){
  .topGainers{
    display: none;
  }

  .topLosers{
    display: none;
  }
}

@media(max-width: 768px){
  .sevenDayChart{
    height: 50vh;
  }

  .twentyFourHourChart{
    height: 50vh;
  }

  .thirtyDayChart{
    height: 50vh;
  }

  .threeMonthChart{
    height: 50vh;
  }

  .oneYearChart{
    height: 50vh;
  }
}

@media(max-width: 668px){
  .sevenDayChart{
    height: 40vh;
  }

  .twentyFourHourChart{
    height: 40vh;
  }

  .thirtyDayChart{
    height: 40vh;
  }

  .threeMonthChart{
    height: 40vh;
  }

  .oneYearChart{
    height: 40vh;
  }
}




